.mainPane{
    -fx-background-color: #ffffff;
}
.topPane{
    -fx-background-color: #49cead;
}
.leftPane{
    -fx-background-color: #ffffff;
}
.rightPane{
    -fx-background-color: #ffffff;
}
.button{
    -fx-background-color: #49cead;
}
.button:hover{
    -fx-background-color: #6dedcd;
}
.button:pressed{
    -fx-background-color: ;
}