.mainPane{
    -fx-background-color: #000000;
}
.leftPane{
    -fx-background-color: #121212;
}
.button{
    -fx-background-color: #121212;
    -fx-text-fill: #ffffff;
    -fx-alignment: center-left;
    -fx-border-radius: 3;
}
.button:hover{
    -fx-background-color: #03DAC6;
    -fx-border-radius: 3;
}
.button:pressed{
    -fx-background-color: #84f5d9;
    -fx-border-radius: 3;
}
.table-view{
    -fx-background-color: #4A4A4A;
    -fx-text-fill: #616161;
}

.table-view .column-header, .table-view .filler {
    -fx-background-color: #8FEEE5;
    -fx-text-fill: white;
}
.table-view:row-selection .table-row-cell:filled:hover {
    -fx-background-color: #8FEEE5;
    -fx-text-fill: #616161;
}
.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
    -fx-background-color: white;
}
.table-cell {
    -fx-padding: 0.5em 0.5em 0.1em 0.3em;
    -fx-font: 14px "Candara";
    -fx-text-fill: #616161;
}

.table-view, .table-view:focused {
    -fx-background-color: transparent,-fx-box-border,-fx-control-inner-background;
    -fx-background-insets: -1.4, 0, 1;
    -fx-background-radius: 1.4, 0, 0;
}

.table-view .column-header .label{
    -fx-text-fill: #616161;
    -fx-alignment: CENTER;
    -fx-font-size: 15px;
}
.table-view .column-header{
    -fx-background-color: #57E6D9;
    -fx-border-radius: 3px;
}

.table-view:row-selection .table-row-cell:filled:selected {
    -fx-background-color: #B4F3ED;
    -fx-text-fill: #616161;

}
.text-field{
    -fx-border-color: #121212;
    -fx-border-width: 3;
    -fx-background-color: #ffffff;
    -fx-text-fill: #121212;
    -fx-border-radius: 20;
    -fx-background-radius: 19;
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.8),5.0,0.0,0.0,5.0);
}
.label{
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.5),10.0,0.0,0.0,10.0);
}
.round-layout{
    -fx-border-radius: 40;
    -fx-border-color: #121212;
    -fx-background-radius: 40;
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.5),10.0,0.0,0.0,10.0);
}
.scroll-pane > .viewport {
    -fx-background-color: transparent;
}
.scroll-pane {
    -fx-background-color: transparent;
}
.btnCerrarSesion{
    -fx-background-color: #BB86FC;
    -fx-border-radius: 3;
}
.btnCerrarSesion:hover{
    -fx-background-color: #CDA6FC;
    -fx-border-radius: 3;
}
.btnCerrarSesion:pressed{
    -fx-background-color: #D1AEFD;
    -fx-border-radius: 3;
}

.filtrosPane{
    -fx-background-color: #616161;
}

.pagination .page {
    -fx-background-color: #121212;
}

.pagination .pagination-control {
    -fx-background-color: #121212;
}

.pagination .pagination-control .bullet-button {
    -fx-background-color: transparent, transparent, rgba(3, 218, 198, 0.78), transparent, transparent;
    -fx-backgroud-radius: 5;
    -fx-border-radius: 5;
}

.pagination .pagination-control .bullet-button:selected {
    -fx-background-color: transparent, #616161, rgba(3, 218, 198, 0.78), #616161, rgba(3, 218, 198, 0.78);
    -fx-backgroud-radius: 5;
    -fx-border-radius: 5;
}

.pagination .pagination-control .left-arrow, .right-arrow{
    -fx-background-color: #616161, rgba(3, 218, 198, 0.78);
    -fx-backgroud-radius: 5;
    -fx-border-radius: 5;
}