.mainPane{
    -fx-background-color: #000000;
}
.topPane{
    -fx-background-color: #03DAC6;
}
.leftPane{
    -fx-background-color: #282828;
}
.rightPane{
    -fx-background-color: #282828;
}
.button{
    -fx-background-color: #49cead;
}
.button:hover{
    -fx-background-color: #6dedcd;
}
.button:pressed{
    -fx-background-color: #84f5d9;
}
.text-field{
    -fx-border-color: #84f5d9;
    -fx-border-width: 2;
    -fx-background-color: #121212;
    -fx-text-fill: #ffffff;
    -fx-border-radius: 5;
}