.mainPane{
    -fx-background-color: #4A4A4A;
}
.topPane{
    -fx-background-color: #49cead;
}
.leftPane{
    -fx-background-color: #282828;
}
.rightPane{
    -fx-background-color: #282828;
}
.button{
    -fx-background-color: #49cead;
}
.button:hover{
    -fx-background-color: #6dedcd;
}
.button:pressed{
    -fx-background-color: #84f5d9;
}